<ul>
    <li> <a href="/auth/google">Login with your Google account</a></li>
    <li> <a href="/auth/facebook">Login with your Facebook account</a></li>
    <li> <a href="/auth/twitter">Login with your Twitter account</a></li>
    <li> <a href="/secret">Secret</a></li>
    <li> <a href="/logout">Logout</a></li>
</ul>